/node_modules
node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/keyse
/.idea
/.vscode
/nbproject
/.vagrant
.env.testing
composer.lock
package-lock.json
database.sqlite